<div class="container">
    <div class="row justify-content-center">
        <div 
        class="card d-inline-block m-3" 
        style="width: 18rem;vertical-align: top;">
        <div class="card-body">
          <h5 class="card-title">
              <input type="text" class="form-control" #updateTitle name="title" [value]="postTitle">
            </h5>
            <p class="card-text">
              <textarea name="" id="" cols="30" rows="10" class="form-control" #updatePara name="para" [value]="postBody"></textarea>
            </p>
            <div class="row">
              <div class="col-4 pr-1">
                <button class="btn btn-outline-secondary col-12" routerLink="/crud">Back</button>  
              </div>
              <div class="col-8 pl-1">
                <button class="btn btn-outline-primary col-12" (click)="updateCard()">Update</button>
              </div>
            </div>

          </div>
        </div>
    </div>
  </div>
  