<nav-bar></nav-bar>

<router-outlet></router-outlet>


<div class="col-4 m-3">
    <!-- <my-form></my-form> -->
    <!-- <signup-form></signup-form> -->
    <!-- <app-todo></app-todo> -->
</div>
<!-- <app-crud></app-crud> -->


<!-- <projects></projects>
<app-courses></app-courses>
<app-directives></app-directives> 

<app-favourite [fav]="profile.isFavourite" (change)="onChange($event)"></app-favourite>

<app-play-around>
    <ng-container class="head">Head</ng-container>
    <ng-container class="body">
        <h2>Body</h2>
        <p>Body of the container</p>
    </ng-container>
</app-play-around> -->


