<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">
  <a class="navbar-brand" routerLink="">Home</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/todo" routerLinkActive="current active">Todo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/crud" routerLinkActive="current active">CRUD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pocs" routerLinkActive="current active">POC</a>
    </li>
  </ul>
</nav>